{"openapi":"3.0.1","info":{"title":"L3-3 - Подсистема Биллинг","description":"<h3>Назначение подсистемы Биллинг </h3><p><a href='https://conf.bars.group/x/gDk9E'>Документация</a> </p><p>REST API сервис выполняет следующие функции:<h4> Состав сервиса</h4><li><a href='https://conf.bars.group/x/iwOVF' >service-billing</a></li>","version":"1.1.0"},"servers":[{"url":"http://service-billing.misng-med2dev.bars.group","description":"Generated server url"}],"tags":[{"name":"ФПУМП Идентификатор СЭМД"},{"name":"ТФОМС Работа с видами реестров"},{"name":"ТФОМС Работа с перечнем услуг, попадающих в блок мед.услуг, включаемых в счет-реестры"},{"name":"ТФОМС Основной реестр: Этапы формирования"},{"name":"ТФОМС Основной реестр: Пациенты"},{"name":"ТФОМС Основной реестр: Случаи"},{"name":"ТФОМС Основной реестр: Значения доп параметров"},{"name":"ТФОМС Основной реестр: Ошибки реестра"},{"name":"ТФОМС Основной реестр: Снятия по МЭК"},{"name":"ТФОМС Основной реестр: Тарифы по ПГГ"},{"name":"ТФОМС Состав случая диспансеризации"},{"name":"ТФОМС Заголовки реестров"},{"name":"ТФОМС Единицы объема"},{"name":"ТФОМС Работа с видами реестров. Оплата"},{"name":"ТФОМС Настройки формирования реестров (Схема сбора реестра)"},{"name":"ТФОМС Настройки формирования реестров: Дополнительные параметры"},{"name":"ТФОМС Настройки формирования реестров: Коллекция проверок"},{"name":"ТФОМС Настройки формирования реестров: Проверки формата"},{"name":"ТФОМС Типы реестров"},{"name":"ТФОМС Виды реестров : социальные положения"},{"name":"ТФОМС Виды реестров : страховые компании"},{"name":"ТФОМС Работа с услугами, видов реестров"},{"name":"ТФОМС Случаи: Записи сопутствующих диагнозов по ДД"},{"name":"ТФОМС Работа с реестром"},{"name":"ТФОМС Работа со счетами"},{"name":"ТФОМС Работа с условиями оказания МП"},{"name":"ТФОМС Работа с отделениями"},{"name":"ТФОМС Работа с журналом артефактов"},{"name":"ТФОМС Работа с коллекциями настроек: Настройки алгоритмов формирования значений"},{"name":"ТФОМС Операции над записями <Коллекция настроек: Скрипты настроек формирования реестра>"},{"name":"ТФОМС Вычисление признака блокировки АТ/СК"},{"name":"ФПУМП Общий пакет"},{"name":"ФПУМП Пациенты"},{"name":"ФПУМП Диагнозы"},{"name":"ФПУМП Ошибки ФЛК"},{"name":"ФПУМП Таблица ошибок при создании СЭФД"},{"name":"ФПУМП Направления"},{"name":"ФПУМП Счет-реестр"},{"name":"ФПУМП Счет-реестр: случай"},{"name":"ФПУМП Шкала SOFA: Системы шкалы SOFA"},{"name":"ФПУМП Шкала PASI: Измерения по частям тела"},{"name":"ФПУМП Система шкалы SOFA: Показатели по системам SOFA"},{"name":"ФПУМП Шкала ШРМ"},{"name":"ФПУМП Статистическая карта стационара"},{"name":"ФПУМП Статистическая карта стационара: отделения"},{"name":"ФПУМП Статистические карты стационара: отделения: операции"},{"name":"ФПУМП Отделение статкарты: Шкала SOFA"},{"name":"ФПУМП Отделение статкарты: Данные для расчета КСГ: критерий"},{"name":"ФПУМП Отделение статкарты: Медицинские изделия"},{"name":"ФПУМП Отделение cтаткарты: Шкала PASI"},{"name":"ФПУМП Отделение статкарты: Данные для расчета КСГ: фактор"},{"name":"ФПУМП Талон амбулаторного пациента"},{"name":"ФПУМП ЗНО: Противопоказания"},{"name":"ФПУМП Посещение"},{"name":"ФПУМП Посещение: Занятость других исполнителей"},{"name":"ФПУМП Посещение: Услуги во время посещения"},{"name":"ФПУМП Талоны ВМП/СМП"},{"name":"ФПУМП Лекарственные средства"},{"name":"ФПУМП Отделение статкарты: Шкала реабилитации"},{"name":"ФПУМП Консилиумы"},{"name":"ФПУМП Консилиум: Члены комиссии"},{"name":"ФПУМП Консилиум: Схемы лечения"},{"name":"ФПУМП Консилиум: Копии исследований"},{"name":"ФПУМП Консилиум: Заключение"},{"name":"ФПУМП Услуги стационара. Симультанные и нетарифицируемые услуги"},{"name":"ФПУМП Карта вызова СМП: Массив кодов услуг на выезде"},{"name":"ФПУМП Карта вызова СМП"},{"name":"ФПУМП Карта вызова СМП: Массив кодов занятостей специалистов"},{"name":"ФПУМП Ранее пройденные посещения/исследования"},{"name":"ФПУМП Шкала реабилитации: Индексы Ривермид"},{"name":"ФПУМП Сведения о ЗНО"},{"name":"ФПУМП ЗНО: Онкоуслуги"},{"name":"ФПУМП ЗНО: Исследования"},{"name":"ФПУМП Помощь в принятии врачебного решения"},{"name":"Операции над данными из грида"},{"name":"Отладка процессинга"}],"paths":{"/api/{organization}/reestr/step/forming/edit/{id}":{"put":{"tags":["ТФОМС Основной реестр: Этапы формирования"],"summary":"Изменение записи основной реестр: Этапы формирования","operationId":"edit","parameters":[{"name":"id","in":"path","description":"ID основной реестр: Этапы формирования","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormingStepEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Запись основной реестр: Этапы формирования успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}},"404":{"description":"Не удалось изменить запись основной реестр: Этапы формирования","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/schet/edit/{id}":{"put":{"tags":["ТФОМС Работа со счетами"],"summary":"Изменение записи счёта","operationId":"update","parameters":[{"name":"id","in":"path","description":"ID счёта","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"organization","in":"path","description":"organization","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistrySchetEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Запись счёта успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseDto"},"example":null}}},"404":{"description":"Не удалось изменить запись счёта","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/invalid/update/{id}":{"put":{"tags":["ТФОМС Основной реестр: Ошибки реестра"],"summary":"Исправление ошибки","operationId":"update_1","parameters":[{"name":"organization","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Ошибка успешно исправлена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvalidEntity"},"example":null}}},"404":{"description":"Ошибку не удалось исправить","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/grparam/edit/{id}":{"put":{"tags":["ТФОМС Основной реестр: Значения доп параметров"],"summary":"Изменение записи основной реестр: Значения доп параметров","operationId":"edit_1","parameters":[{"name":"id","in":"path","description":"ID основной реестр: Значения доп параметров","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrParamEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Запись основной реестр: Значения доп параметров успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}},"404":{"description":"Не удалось изменить запись основной реестр: Значения доп параметров","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/general/edit/{id}":{"put":{"tags":["ТФОМС Работа с реестром"],"summary":"Изменение записи реестра","operationId":"edit_2","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"path","description":"ID реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeneralRegistryDto"},"example":null}},"required":true},"responses":{"200":{"description":"Запись реестра успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}},"404":{"description":"Не удалось изменить запись реестра","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/case/update/{id}":{"put":{"tags":["ТФОМС Основной реестр: Случаи"],"summary":"Изменение записи случая","operationId":"update_2","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"path","description":"Id случая","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegCaseEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Запись случая успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}},"404":{"description":"Не удалось изменить запись случая","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/update/statcard/{id}":{"put":{"tags":["ФПУМП Статистическая карта стационара"],"summary":"Редактирование записи ФПУМП Статистическая карта стационара","operationId":"updateStatCard","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"path","description":"Id статистической карты стационара","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","description":"Количество записей на странице","required":false,"schema":{"type":"integer","format":"int32","example":null}},{"name":"debug","in":"query","description":"Какой ответ будет отдан","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":0}}],"requestBody":{"description":"обновленный ФПУМП Статистическая карта стационара","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FpumpStatCardShortEntity"},"example":null}},"required":true},"responses":{"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация.","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Редактирование записи ФПУМП Статистическая карта стационара успешно","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Информация не найдена (не пройдена валидация)","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/smp/update/{id}":{"put":{"tags":["ФПУМП Карта вызова СМП"],"summary":"Редактирование записи ФПУМП. Карта вызова СМП","operationId":"updateSmp","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"path","description":"Id карты вызова СМП","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","description":"Количество записей на странице","required":false,"schema":{"type":"integer","format":"int32","example":null}},{"name":"debug","in":"query","description":"Какой ответ будет отдан","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":0}}],"requestBody":{"description":"обновленный ФПУМП. Карта вызова СМП","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FpumpSmpShortEntity"},"example":null}},"required":true},"responses":{"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация.","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Редактирование записи ФПУМП. Карта вызова СМП успешно","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Информация не найдена (не пройдена валидация)","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/package/update/{id}":{"put":{"tags":["ФПУМП Общий пакет"],"summary":"Редактирование записи <ФПУМП. Общий пакет>","operationId":"update_3","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"query","description":"Id общего пакета","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"description":"ФПУМП. Общий пакет","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FpumpPackageEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Редактирование записи <ФПУМП. Общий пакет> успешно","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация.","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Информация не найдена (не пройдена валидация)","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/amb/talon/update/{id}":{"put":{"tags":["ФПУМП Талон амбулаторного пациента"],"summary":"Редактирование записи ФПУМП Талон амбулаторного пациента","operationId":"updateAmbTalon","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"path","description":"Id талона амбулаторного пациента","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","description":"Количество записей на странице","required":false,"schema":{"type":"integer","format":"int32","example":null}},{"name":"debug","in":"query","description":"Какой ответ будет отдан","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":0}}],"requestBody":{"description":"обновленный ФПУМП Талон амбулаторного пациента","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FpumpAmbTalonShortEntity"},"example":null}},"required":true},"responses":{"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация.","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Редактирование записи ФПУМП Талон амбулаторного пациента успешно","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Информация не найдена (не пройдена валидация)","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/account/update/{id}":{"put":{"tags":["ФПУМП Счет-реестр"],"summary":"Редактирование записи <ФПУМП. Счет-реестр>","operationId":"updateAccount","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"path","description":"Id счет - реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"description":"обновленный ФПУМП. Счет-реестр","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FpumpAccountEntity"},"example":null}},"required":true},"responses":{"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация.","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Редактирование записи <ФПУМП. Счет-реестр> успешно","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Информация не найдена (не пройдена валидация)","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/account/case/update/{id}":{"put":{"tags":["ФПУМП Счет-реестр: случай"],"summary":"Редактирование записи <ФПУМП. Счет-реестр: случай>","operationId":"updateAccountCase","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"path","description":"Id ФПУМП. счет - реестр: случай","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"description":"обновленный ФПУМП. Счет-реестр: случай","content":{"application/json":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpAccountCaseEntity"}},"example":null}},"required":true},"responses":{"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация.","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Редактирование записи <ФПУМП. Счет-реестр: случай> успешно","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Информация не найдена (не пройдена валидация)","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/volume/units/edit/{id}":{"put":{"tags":["ТФОМС Единицы объема"],"summary":"Обновление единицы объема","operationId":"update_4","parameters":[{"name":"id","in":"path","description":"Id единицы объема","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrVolumeUnitEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Единица объема успешно обновлена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GrVolumeUnitEntity"},"example":null}}},"404":{"description":"Единицу объема не удалось обновить","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GrVolumeUnitEntity"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/type/edit/{id}":{"put":{"tags":["ТФОМС Типы реестров"],"summary":"Изменение типа реестра по id","operationId":"editReestrType","parameters":[{"name":"id","in":"path","description":"Id типа реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistryTypeEntity"},"example":null}},"required":true},"responses":{"404":{"description":"Тип реестра не найден по id","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseDto"},"example":null}}},"200":{"description":"Тип реестра успешно изменен","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/title/edit/{id}":{"put":{"tags":["ТФОМС Заголовки реестров"],"summary":"Обновление заголовка реестра","operationId":"edit_3","parameters":[{"name":"id","in":"path","description":"ID заголовка реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReestrTitleDto"},"example":null}},"required":true},"responses":{"404":{"description":"Заголовок реестра не удалось обновить","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Заголовок реестра успешно обновлен","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReestrTitleDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/title/copyById/{id}":{"put":{"tags":["ТФОМС Заголовки реестров"],"summary":"Каскадное копирование заголовка реестра по id","operationId":"copyById","parameters":[{"name":"id","in":"path","description":"Id заголовка реестра для копирования","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"reestrTitleCode","in":"query","description":"Параметр \"code\" для новой записи","required":true,"schema":{"type":"string","example":null}},{"name":"reestrTitleName","in":"query","description":"Параметр \"name\" для новой записи","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"Заголовок реестра успешно скопирован","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReestrTitleDto"},"example":null}}},"404":{"description":"Заголовок реестра не найден по id","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/script/edit/{id}":{"put":{"tags":["ТФОМС Операции над записями <Коллекция настроек: Скрипты настроек формирования реестра>"],"summary":"Обновление скрипта","operationId":"update_5","parameters":[{"name":"id","in":"path","description":"Id скрипта","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RtSchemeScriptEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Скрипт успешно обновлён","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RtSchemeScriptEntity"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/rtparam/edit/{id}":{"put":{"tags":["ТФОМС Настройки формирования реестров: Дополнительные параметры"],"summary":"Изменение записи настроек формирования реестров : Дополнительные параметры","operationId":"edit_4","parameters":[{"name":"id","in":"path","description":"ID настроек формирования реестров : Дополнительные параметры","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistryRtParamsEntity"},"example":null}},"required":true},"responses":{"404":{"description":"Не удалось изменить запись настроек формирования реестров : Дополнительные параметры","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Запись настроек формирования реестров : Дополнительные параметры успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/pggtarifs/edit/{id}":{"put":{"tags":["ТФОМС Основной реестр: Тарифы по ПГГ"],"summary":"Обновление тарифа по ПГГ","operationId":"update_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReestrPggTariffsDto"},"example":null}},"required":true},"responses":{"200":{"description":"Тариф по ПГГ успешно обновлён","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseDto"},"example":null}}},"404":{"description":"Тариф по ПГГ не найден","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/manipullist/edit/{id}":{"put":{"tags":["ТФОМС Работа с перечнем услуг, попадающих в блок мед.услуг, включаемых в счет-реестры"],"summary":"Изменение записи перечня услуг","operationId":"edit_5","parameters":[{"name":"id","in":"path","description":"ID перечня услуг","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"organization","in":"query","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReestrManipulListEntity"},"example":null}},"required":true},"responses":{"404":{"description":"Не удалось изменить запись перечня услуг","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Запись перечня услуг успешно изменена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDto"},"examples":{"Пример данных":{"description":"Пример данных","value":{"org":10903,"serviceId":78635344,"patRestrictionId":91216134,"beginDate":"2025-01-01","endDate":null,"isProvideKs":true,"isProvideDs":false,"isProvidePol":false}}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/kindsocialstate/edit/{id}":{"put":{"tags":["ТФОМС Виды реестров : социальные положения"],"summary":"Изменение записи Виды реестров : социальные положения","operationId":"edit_6","parameters":[{"name":"id","in":"path","description":"ID Виды реестров : социальные положения","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistryKindSocialStateEntity"},"example":null}},"required":true},"responses":{"404":{"description":"Не удалось изменить запись Виды реестров : социальные положения","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Запись Виды реестров : социальные положения успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/kindservice/edit/{id}":{"put":{"tags":["ТФОМС Работа с услугами, видов реестров"],"summary":"Изменение записи услуги, видов реестров","operationId":"edit_7","parameters":[{"name":"id","in":"path","description":"ID услуги, видов реестров","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReestrKindServiceEntity"},"example":null}},"required":true},"responses":{"404":{"description":"Не удалось изменить запись услуги, видов реестров","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Запись услуги, видов реестров успешно изменена","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/kind/payment/edit/{id}":{"put":{"tags":["ТФОМС Работа с видами реестров. Оплата"],"summary":"Изменение записи сведения о видах реестров, оплата","operationId":"edit_8","parameters":[{"name":"id","in":"path","description":"ID сведения о видах реестров, оплата","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReestrKindPaymentEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Запись сведений о видах реестров, оплата успешно изменена","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Не удалось изменить запись сведений о видах реестров, оплата","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/kind/insurancecompany/edit/{id}":{"put":{"tags":["ТФОМС Виды реестров : страховые компании"],"summary":"Изменение записи Виды реестров : страховые компании","operationId":"edit_9","parameters":[{"name":"id","in":"path","description":"ID Виды реестров : страховые компании","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrKindInsuranceCompanyEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Запись Виды реестров : страховые компании успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}},"404":{"description":"Не удалось изменить запись Виды реестров : страховые компании","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/kind/edit/{id}":{"put":{"tags":["ТФОМС Работа с видами реестров"],"summary":"Изменение записи вида реестра","operationId":"edit_10","parameters":[{"name":"id","in":"path","description":"ID вида реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistryKindEntity"},"example":null}},"required":true},"responses":{"404":{"description":"Не удалось изменить запись вида реестра","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Запись вида реестра успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/csfields/edit/{id}":{"put":{"tags":["ТФОМС Работа с коллекциями настроек: Настройки алгоритмов формирования значений"],"summary":"Изменение записи коллекциями настроек: Настройки алгоритмов формирования значений","operationId":"edit_11","parameters":[{"name":"id","in":"path","description":"ID коллекциями настроек: Настройки алгоритмов формирования значений","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistryCsFieldsEntity"},"example":null}},"required":true},"responses":{"404":{"description":"Не удалось изменить запись коллекциями настроек: Настройки алгоритмов формирования значений","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Запись коллекциями настроек: Настройки алгоритмов формирования значений успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/condition/edit/{id}":{"put":{"tags":["ТФОМС Работа с условиями оказания МП"],"summary":"Изменение записи условия оказания МП","operationId":"edit_12","parameters":[{"name":"id","in":"path","description":"ID условия оказания МП","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConditionEntity"},"example":null}},"required":true},"responses":{"404":{"description":"Не удалось изменить запись условия оказания МП","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Запись условия оказания МП успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/checklist/edit/{id}":{"put":{"tags":["ТФОМС Настройки формирования реестров: Коллекция проверок"],"summary":"Изменение записи Настройки формирования реестров: Коллекция проверок","operationId":"edit_13","parameters":[{"name":"id","in":"path","description":"ID Настройки формирования реестров: Коллекция проверок","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckListEntity"},"example":null}},"required":true},"responses":{"404":{"description":"Не удалось изменить запись Настройки формирования реестров: Коллекция проверок","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Запись Настройки формирования реестров: Коллекция проверок успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/reestr/checkformat/edit/{id}":{"put":{"tags":["ТФОМС Настройки формирования реестров: Проверки формата"],"summary":"Изменение записи Настройки формирования реестров: Проверки формата","operationId":"edit_14","parameters":[{"name":"id","in":"path","description":"ID Настройки формирования реестров: Проверки формата","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"subsystem","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckFormatEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Запись Настройки формирования реестров: Проверки формата успешно изменена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}},"404":{"description":"Не удалось изменить запись Настройки формирования реестров: Проверки формата","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/disp/composition/edit/{id}":{"put":{"tags":["ТФОМС Состав случая диспансеризации"],"summary":"Изменение записи - <Состав случая диспансеризации>","operationId":"edit_15","parameters":[{"name":"id","in":"path","description":"Id cостав случая диспансеризации","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"description":"сущность <Состав случая диспансеризации>","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DispCompositionEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Изменение записи - <Состав случая диспансеризации> успешно","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация.","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Информация не найдена (не пройдена валидация)","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/debug/profile/{id}":{"get":{"tags":["Отладка процессинга"],"summary":"Получить профиль отладки по id","operationId":"getProfileById","parameters":[{"name":"id","in":"path","description":"id профиля","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"200":{"description":"Профиль успешно получен","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebugProfileEntity"},"example":null}}},"404":{"description":"Профиль не найден по id","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]},"put":{"tags":["Отладка процессинга"],"summary":"Обновление отладочного профиля по id","operationId":"updateProfile","parameters":[{"name":"id","in":"path","description":"id профиля","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"description":"Обновленный профиль","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebugProfileEntity"},"examples":{"DebugProfileEntityExample":{"description":"DebugProfileEntityExample","value":{"code":"tstDevUpd","note":"tstNoteUpd","section":{"lpu":196588506,"dateBegin":"2022-03-01","dateEnd":"2022-04-01","deps":[246929015,247729156,235400838,246929014,207471385,247726572,235400398,1742610071,247729006,1582672447,235400713,1595564693,739135262,207459727,1742610092,1582672577,197286132,1722064626,196771200,239638774,247728891]}}}},"example":null}},"required":true},"responses":{"200":{"description":"Профиль успешно обновлён","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Профиль не найден по id","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]},"delete":{"tags":["Отладка процессинга"],"summary":"Удаление отладочного профиля","operationId":"deleteProfile","parameters":[{"name":"id","in":"path","description":"id профиля","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Профиль не найден по id","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Профиль успешно удален","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/collection/scheme/edit/{id}":{"put":{"tags":["ТФОМС Настройки формирования реестров (Схема сбора реестра)"],"summary":"Изменение записи схемы сбора","operationId":"edit_16","parameters":[{"name":"id","in":"path","description":"ID схемы сбора","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionSchemeDto"},"example":null}},"required":true},"responses":{"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация.","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Информация не найдена (не пройдена валидация)","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Запись схемы сбора успешно изменена","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/collection/scheme/copyByIdWithParams/{id}":{"put":{"tags":["ТФОМС Настройки формирования реестров (Схема сбора реестра)"],"summary":"Каскадное копирование схемы сбора по id с указанием новых параметров","operationId":"copyByIdWithParams","parameters":[{"name":"id","in":"path","description":"Id схемы сбора для копирования","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"code","in":"query","description":"Новый код для копии","required":true,"schema":{"type":"string","example":null}},{"name":"name","in":"query","description":"Новое имя для копии","required":true,"schema":{"type":"string","example":null}},{"name":"volumeUnitId","in":"query","description":"Новый идентификатор единицы объема для копии (только для уровня 2)","required":false,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Информация не найдена (не пройдена валидация)","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация.","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Схема сбора успешно скопирована","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CollectionSchemeDto"},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/collection/scheme/copyById/{id}":{"put":{"tags":["ТФОМС Настройки формирования реестров (Схема сбора реестра)"],"summary":"Каскадное копирование схемы сбора по id","operationId":"copyById_1","parameters":[{"name":"id","in":"path","description":"Id схемы сбора для копирования","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Информация не найдена (не пройдена валидация)","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация.","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Схема сбора успешно скопирована","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CollectionSchemeDto"},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/usl/by-registry":{"post":{"tags":["ТФОМС Основной реестр: Случаи"],"summary":"Получение услуг по реестру","operationId":"getByRegistry","parameters":[{"name":"organization","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"regId","in":"query","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"sort","in":"query","description":"Сортировка","required":false,"schema":{"type":"array","example":null,"items":{"type":"string","example":null}},"example":"id,asc"}],"requestBody":{"description":"Параметры поиска","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDto"},"examples":{"FilterRequestExample":{"description":"FilterRequestExample","value":{"filter":{"tarif":{"condition":"like","value":"%1%"}}}}},"example":null}}},"responses":{"404":{"description":"Реестр не найден по id","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoServiceFullDto"},"example":null}}},"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceFullDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/usl/by-case":{"post":{"tags":["ТФОМС Основной реестр: Случаи"],"summary":"Получение услуг по случаю","operationId":"getByCase","parameters":[{"name":"organization","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"caseId","in":"query","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"sort","in":"query","description":"Сортировка","required":false,"schema":{"type":"array","example":null,"items":{"type":"string","example":null}},"example":"id,asc"}],"requestBody":{"description":"Параметры поиска","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDto"},"examples":{"FilterRequestExample":{"description":"FilterRequestExample","value":{"filter":{"tarif":{"condition":"like","value":"%1%"}}}}},"example":null}}},"responses":{"404":{"description":"Случай не найден по id","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoServiceFullDto"},"example":null}}},"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceFullDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/step/forming":{"post":{"tags":["ТФОМС Основной реестр: Этапы формирования"],"summary":"Получение списка Основной реестр: Этапы формирования","operationId":"getAll","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"regId","in":"query","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRequest"},"example":null}}},"responses":{"400":{"description":"Ошибка валидации параметров пагинации","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FormingStepEntity"}},"example":{"filter":{"stepFormingValue.description":{"condition":"eq","value":"Начало формирования реестра"}}}}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/step/forming/create":{"post":{"tags":["ТФОМС Основной реестр: Этапы формирования"],"summary":"Создание записи Основной реестр: Этапы формирования","operationId":"create","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormingStepEntity"},"example":null}},"required":true},"responses":{"201":{"description":"Запись Основной реестр: Этапы формирования успешно создана","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FormingStepEntity"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/schet":{"post":{"tags":["ТФОМС Работа со счетами"],"summary":"Получение счетов реестра","operationId":"getByPid","parameters":[{"name":"regId","in":"query","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"organization","in":"path","required":true,"schema":{"type":"integer","format":"int32","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRequest"},"example":null}}},"responses":{"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/RegistrySchetEntity"}},"example":null}}},"400":{"description":"Ошибка валидации параметров пагинации","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoRegistrySchetEntity"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/schet/create":{"post":{"tags":["ТФОМС Работа со счетами"],"summary":"Создание записи счёта","operationId":"insert","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistrySchetEntity"},"example":null}},"required":true},"responses":{"200":{"description":"Запись счёта успешно создана","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/invalid":{"post":{"tags":["ТФОМС Основной реестр: Ошибки реестра"],"summary":"Получение списка ТФОМС Основной реестр: Ошибки реестра","operationId":"getAll_1","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"regId","in":"query","description":"Id реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","description":"Количество записей","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"sort","in":"query","description":"Сортировка","required":false,"schema":{"type":"array","example":null,"items":{"type":"string","example":null}},"example":"case_id,asc"},{"name":"showType","in":"query","description":"Тип отображения","required":false,"schema":{"type":"string","example":null,"enum":["all_invalids","forming_invalids","flk_invalids","warnings"]}}],"requestBody":{"description":"Параметры поиска","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDto"},"examples":{"FilterRequestExample":{"description":"FilterRequestExample","value":{"filter":{"errorTypeRef.description":{"condition":"like","value":"%ошибки%"}}}}},"example":null}}},"responses":{"400":{"description":"Ошибка валидации параметров пагинации","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FormingStepEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/invalid/create":{"post":{"tags":["ТФОМС Основной реестр: Ошибки реестра"],"summary":"Добавление ошибки","operationId":"insert_1","parameters":[{"name":"organization","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidEntity"},"example":null}},"required":true},"responses":{"201":{"description":"Ошибка успешно добавлена","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvalidEntity"},"example":null}}},"404":{"description":"Ошибку не удалось добавить","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/grparam/create":{"post":{"tags":["ТФОМС Основной реестр: Значения доп параметров"],"summary":"Создание записи Основной реестр: Значения доп параметров","operationId":"create_1","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrParamEntity"},"example":null}},"required":true},"responses":{"201":{"description":"Запись Основной реестр: Значения доп параметров успешно создана","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GrParamEntity"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/general":{"post":{"tags":["ТФОМС Работа с реестром"],"summary":"Получение основного списка реестров","operationId":"getAll_2","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"beginDate","in":"query","description":"Дата с","required":true,"schema":{"type":"string","example":null}},{"name":"endDate","in":"query","description":"Дата по","required":true,"schema":{"type":"string","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","description":"Размер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"sort","in":"query","description":"Сортировка","required":false,"schema":{"type":"array","example":null,"items":{"type":"string","example":null}},"example":"reestrNumber,asc"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDto"},"example":null}}},"responses":{"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/GeneralRegistryEntity"}},"example":null}}},"400":{"description":"Ошибка валидации параметров пагинации","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/general/set-status/{id}":{"post":{"tags":["ТФОМС Работа с реестром"],"summary":"Установка статуса реестра по id","operationId":"setStatus","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"path","description":"Id реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"status","in":"query","description":"Статус реестра","required":true,"schema":{"type":"integer","format":"int32","example":null}}],"responses":{"404":{"description":"Запись реестра не найдена по id","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Запись реестра успешно обновлена","content":{"*/*":{"example":"ok"}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/general/deps/{regId}":{"post":{"tags":["ТФОМС Работа с реестром"],"summary":"Получение отделений реестра","operationId":"getDepsOfRegistry","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"regId","in":"path","description":"Id реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":1}},{"name":"count","in":"query","description":"Размер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":20}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRequest"},"example":null}}},"responses":{"200":{"description":"Отделения получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/DepartmentDto"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/general/create":{"post":{"tags":["ТФОМС Работа с реестром"],"summary":"Создание записи реестра","operationId":"create_2","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeneralRegistryDto"},"example":null}},"required":true},"responses":{"201":{"description":"Запись реестра успешно создана","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeneralRegistryEntity"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/ds2/create":{"post":{"tags":["ТФОМС Случаи: Записи сопутствующих диагнозов по ДД"],"summary":"Добавление сопутствующего диагноза","operationId":"addDs2","parameters":[{"name":"organization","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosisEntity"},"example":null}},"required":true},"responses":{"201":{"description":"Сопутствующий диагноз успешно добавлен","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiagnosisEntity"},"example":null}}},"404":{"description":"Сопутствующий диагноз не удалось добавить","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiagnosisEntity"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/check/block":{"post":{"tags":["ТФОМС Вычисление признака блокировки АТ/СК"],"summary":"Получение признака блокировки АТ/СК по id","operationId":"checkBlockById","parameters":[{"name":"id","in":"query","description":"ID  МО проверяемой сущности","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"organization","in":"query","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"tableId","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}}],"responses":{"200":{"description":"Признак блокировки АТ/СК успешно получен","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}},"404":{"description":"Признак блокировки АТ/СК не найден по id","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/case/create":{"post":{"tags":["ТФОМС Основной реестр: Случаи"],"summary":"Создание записи случая","operationId":"create_3","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegCaseEntity"},"example":null}},"required":true},"responses":{"201":{"description":"Запись случая успешно создана","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CaseDetailedDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/reestr/case/":{"post":{"tags":["ТФОМС Основной реестр: Случаи"],"summary":"Получение случаев реестра, где параметр isVisible == true или отсутствует","operationId":"getByPid_1","parameters":[{"name":"organization","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"regId","in":"query","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"showType","in":"query","description":"Тип отображения","required":false,"schema":{"type":"string","example":null,"enum":["cases","invalids","forming_invalids","flk_invalids","mek_removed","mek_restored"]}},{"name":"showVisible","in":"query","required":false,"schema":{"type":"boolean","example":null}},{"name":"sort","in":"query","description":"Сортировка","required":false,"schema":{"type":"array","example":null,"items":{"type":"string","example":null}},"example":"id,asc"}],"requestBody":{"description":"Параметры поиска","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDto"},"examples":{"FilterRequestExample":{"description":"FilterRequestExample","value":{"filter":{"volumeCode":{"condition":"like","value":"%1%"}}}}},"example":null}}},"responses":{"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CaseDetailedDto"},"example":null}}},"404":{"description":"Случаи не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoCaseDetailedDto"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/journal/artefact":{"post":{"tags":["ТФОМС Работа с журналом артефактов"],"summary":"Получение списка журнала артефактов","operationId":"getAll_3","parameters":[{"name":"organization","in":"path","description":"ID текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"grId","in":"query","description":"ID текущего реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","description":"Размер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRequest"},"example":null}}},"responses":{"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/GrJournalArtefactEntity"}},"example":null}}},"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/journal/artefact/upload":{"post":{"tags":["ТФОМС Работа с журналом артефактов"],"summary":"Загрузка файла в журнал артефактов","operationId":"uploadFile","parameters":[{"name":"organization","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"regId","in":"query","description":"ID реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"Файл для загрузки","format":"binary","example":null}},"example":null},"example":null}}},"responses":{"404":{"description":"Реестр не найден","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Файл успешно загружен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/journal/artefact/import/{artefactId}":{"post":{"tags":["ТФОМС Работа с журналом артефактов"],"summary":"Импорт артефакта","operationId":"importFile","parameters":[{"name":"organization","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"processType","in":"query","description":"Тип обработки (значение поля settings.type из rt_scheme_scripts","required":false,"schema":{"type":"string","example":null}},{"name":"artefactId","in":"path","description":"ID артефакта","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Артефакт не найден по id","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Артефакт успешно импортирован","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/journal/artefact/edit/{id}":{"post":{"tags":["ТФОМС Работа с журналом артефактов"],"summary":"Изменение записи из журнала артефактов по id","operationId":"update_7","parameters":[{"name":"organization","in":"path","description":"ID текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"path","description":"ID записи журнала артефактов","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrJournalArtefactDto"},"example":null}},"required":true},"responses":{"404":{"description":"Запись журнала артефактов не найдена по id","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Запись журнала артефактов успешно изменена","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/journal/artefact/create":{"post":{"tags":["ТФОМС Работа с журналом артефактов"],"summary":"Создание записи из журнала артефактов","operationId":"create_4","parameters":[{"name":"organization","in":"path","description":"ID текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrJournalArtefactDto"},"example":null}},"required":true},"responses":{"200":{"description":"Запись журнала артефактов успешно создана","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/general/generate/{argId}":{"post":{"tags":["ТФОМС Работа с реестром"],"summary":"Отправка реестра на формирование","operationId":"generate","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"argId","in":"path","description":"ID реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"mode","in":"query","description":"Режим формирования","required":false,"schema":{"type":"string","example":null,"default":"full"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","example":null,"items":{"type":"integer","format":"int64","example":null}},"description":"Параметры запроса - schemes и deps","example":null},"example":null}},"required":true},"responses":{"200":{"description":"Реестр успешно отправлен на формирование","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}},"404":{"description":"Не удалось отправить реестр на формирование","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/general/generate/export/{argId}":{"post":{"tags":["ТФОМС Работа с реестром"],"summary":"Генерация XML","operationId":"generateXml","parameters":[{"name":"organization","in":"path","description":"ЛПУ","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"argId","in":"path","description":"ID реестра","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Не удалось сгенерировать XML","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"XML успешно отправлен на формирование","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponse"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/znoService":{"post":{"tags":["ФПУМП ЗНО: Онкоуслуги"],"summary":"Получение списка ЗНО: Онкоуслуги","operationId":"getAll_4","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidStatcardDep","in":"query","description":"Id Статистическая карта стационара: отделения","required":false,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidStcService","in":"query","description":"Id Услуги стационара. Симультанные и нетарифицируемые услуги","required":false,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidVisit","in":"query","description":"Id Посещение","required":false,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpZnoServiceEntity"},"example":null}}},"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpZnoServiceEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/znoResearch":{"post":{"tags":["ФПУМП ЗНО: Исследования"],"summary":"Получение списка ЗНО: Исследования","operationId":"getAll_5","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidStatcardDep","in":"query","description":"Id Статистическая карта стационара: отделения","required":false,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidStcService","in":"query","description":"Id Услуги стационара. Симультанные и нетарифицируемые услуги","required":false,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidVisit","in":"query","description":"Id Посещение","required":false,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpZnoResearchEntity"},"example":null}}},"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpZnoResearchEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/znoInfo":{"post":{"tags":["ФПУМП Сведения о ЗНО"],"summary":"Получение списка Сведения о ЗНО","operationId":"getAll_6","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidStatcard","in":"query","description":"Id Статистическая карта стационара:","required":false,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidAmbTalon","in":"query","description":"Id Талон амбулаторного пациента:","required":false,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpZnoInfoEntity"},"example":null}}},"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpZnoInfoEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/znoContraindication":{"post":{"tags":["ФПУМП ЗНО: Противопоказания"],"summary":"Получение данных по pid","operationId":"getAll_7","parameters":[{"name":"pidStatcardDep","in":"query","required":false,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidStcService","in":"query","required":false,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidVisit","in":"query","required":false,"schema":{"type":"integer","format":"int64","example":null}},{"name":"organization","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpZnoContraindicationEntity"},"example":null}}},"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpZnoContraindicationEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/visit":{"post":{"tags":["ФПУМП Посещение"],"summary":"Получение списка посещений","operationId":"getAll_8","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pid","in":"query","description":"Id талона амбулаторного пациента","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","description":"Размер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"visitDate","in":"query","description":"Время посещения","required":false,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRequest"},"example":null}}},"responses":{"400":{"description":"Ошибка валидации параметров пагинации","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpVisitEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/vis/service/":{"post":{"tags":["ФПУМП Посещение: Услуги во время посещения"],"summary":"Получение списка записей ФПУМП Посещение: Услуги во время посещения","operationId":"getAll_9","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pid","in":"query","description":"Id записи ФПУМП. Посещение","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","description":"Размер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRequest"},"example":null}}},"responses":{"400":{"description":"Ошибка валидации параметров пагинации","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpVisServiceEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/therapyScheme":{"post":{"tags":["ФПУМП Консилиум: Схемы лечения"],"summary":"Получение списка Консилиум: Схемы лечения","operationId":"getAll_10","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidCouncil","in":"query","description":"Id Консилиума","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpTherapySchemeEntity"}},"example":null}}},"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpTherapySchemeEntity"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/systemIndicator":{"post":{"tags":["ФПУМП Система шкалы SOFA: Показатели по системам SOFA"],"summary":"Получение списка Система шкалы SOFA: Показатели по системам SOFA","operationId":"getAll_11","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidSofaSystem","in":"query","description":"Id шкалы SOFA: Системы шкалы SOFA","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpSystemIndicatorEntity"}},"example":null}}},"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpSystemIndicatorEntity"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/stcService":{"post":{"tags":["ФПУМП Услуги стационара. Симультанные и нетарифицируемые услуги"],"summary":"Получение списка Услуги стационара. Симультанные и нетарифицируемые услуги","operationId":"getAll_12","parameters":[{"name":"pidStatcard","in":"query","description":"Id статистической карты стационара","required":false,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidStatcardDep","in":"query","description":"Id статистической карты стационара: отделения","required":false,"schema":{"type":"integer","format":"int64","example":null}},{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpStcServiceEntity"}},"example":null}}},"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpStcServiceEntity"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/statcard":{"post":{"tags":["ФПУМП Статистическая карта стационара"],"summary":"Получение списка статистических карт стационара","operationId":"getAll_13","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":1}},{"name":"count","in":"query","description":"Размер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":10}},{"name":"sort","in":"query","description":"Параметры сортировки","required":false,"schema":{"type":"array","example":null,"items":{"type":"string","example":null}},"example":"receiptDatetime,asc"}],"requestBody":{"description":"Параметры поиска","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDto"},"examples":{"FilterRequestExample":{"description":"FilterRequestExample","value":{"filter":{"filterFrom":{"condition":"bt","value":"2025-08-01"},"filterTo":{"condition":"bt","value":"2025-10-31"},"searchFieldName":{"condition":"bt","value":"retirementDatetime"}}}}},"example":null}}},"responses":{"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpStatCardEntity"}},"example":null}}},"400":{"description":"Ошибка валидации параметров пагинации","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/statcardDep/{pid}":{"post":{"tags":["ФПУМП Статистическая карта стационара: отделения"],"summary":"Получение списка статистических карт стационара: отделения","operationId":"getAll_14","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pid","in":"path","description":"Id статистической карты стационара: отделения","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","description":"Размер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRequest"},"example":null}}},"responses":{"400":{"description":"Ошибка валидации параметров пагинации","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpStatCardDepEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/statcard/send":{"post":{"tags":["ФПУМП Статистическая карта стационара"],"summary":"Отправить статистическую карту стационара во фпумп","operationId":"sendToFpump","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","example":null,"items":{"type":"integer","format":"int64","example":null}},"example":null}},"required":true},"responses":{"200":{"description":"Статистическая карта стационара успешно отправлена","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Статистическая карта стационара не найдена по id","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/statcard/reformSefd":{"post":{"tags":["ФПУМП Статистическая карта стационара"],"summary":"Переформирование СЭФД по статистическим картам стационара","operationId":"reformSefd","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"query","description":"Id СЭФД","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pmdType","in":"query","description":"тип СЭФД","required":false,"schema":{"type":"string","example":null,"default":"STC"}}],"responses":{"200":{"description":"СЭФД успешно пересформирован","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpStatCardEntity"}},"example":null}}},"400":{"description":"Ошибка валидации параметров","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"МО с указанным id не найдено","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/statcard/formSefd":{"post":{"tags":["ФПУМП Статистическая карта стационара"],"summary":"Формирование СЭФД по статистическим картам стационара","operationId":"formSefd","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"receiptDatetime","in":"query","description":"Период лечения с","required":true,"schema":{"type":"string","example":null}},{"name":"retirementDateTime","in":"query","description":"Период лечения по","required":true,"schema":{"type":"string","example":null}},{"name":"packageNumber","in":"query","description":"Номер пачки","required":false,"schema":{"type":"string","example":null,"default":"1653467836"}}],"responses":{"200":{"description":"СЭФД успешно сформирован","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpStatCardEntity"}},"example":null}}},"400":{"description":"Ошибка валидации параметров","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"МО с указанным id не найдено","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/sofa":{"post":{"tags":["ФПУМП Отделение статкарты: Шкала SOFA"],"summary":"Получение списка Отделение статкарты: Шкала SOFA","operationId":"getAll_15","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidStatcardDep","in":"query","description":"Id статистической карты стационара: отделения","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpSofaEntity"},"example":null}}},"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpSofaEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/sofaSystem":{"post":{"tags":["ФПУМП Шкала SOFA: Системы шкалы SOFA"],"summary":"Получение списка Шкала SOFA: Системы шкалы SOFA","operationId":"getAll_16","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidSofa","in":"query","description":"Id отделения статкарты: Шкала SOFA","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpSofaSystemEntity"},"example":null}}},"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpSofaSystemEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/smpOutcallService":{"post":{"tags":["ФПУМП Карта вызова СМП: Массив кодов услуг на выезде"],"summary":"Получение списка записей","operationId":"getAll_17","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pid","in":"query","description":"fpumpSmpId","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","description":"Размер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRequest"},"example":null}}},"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpSmpOutcallServiceEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/smp/specialist":{"post":{"tags":["ФПУМП Карта вызова СМП: Массив кодов занятостей специалистов"],"summary":"Получение списка записей","operationId":"getAll_18","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pid","in":"query","description":"fpumpSmpId","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}},{"name":"count","in":"query","description":"Размер страницы","required":true,"schema":{"type":"integer","format":"int32","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRequest"},"example":null}}},"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpSmpSpecialistEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/smp/send":{"post":{"tags":["ФПУМП Карта вызова СМП"],"summary":"Отправить карту вызовов СМП во фпумп","operationId":"sendToFpump_1","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","example":null,"items":{"type":"integer","format":"int64","example":null}},"example":null}},"required":true},"responses":{"200":{"description":"Карта вызовов СМП успешно отправлена","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"Карта вызовов СМП не найдена по id","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/smp/reformSefd":{"post":{"tags":["ФПУМП Карта вызова СМП"],"summary":"Переформирование СЭФД по карте вызова СМП","operationId":"reformSefd_1","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"id","in":"query","description":"Id СЭФД","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pmdType","in":"query","description":"Тип СЭФД","required":false,"schema":{"type":"string","example":null,"default":"SMP"}}],"responses":{"200":{"description":"СЭФД успешно пересформирован","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpSmpEntity"}},"example":null}}},"400":{"description":"Ошибка валидации параметров","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"404":{"description":"МО с указанным id не найдено","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/smp/formSefd":{"post":{"tags":["ФПУМП Карта вызова СМП"],"summary":"Формирование СЭФД по карте вызова СМП","operationId":"formSefd_1","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"startDateTime","in":"query","description":"Период лечения с","required":true,"schema":{"type":"string","example":null}},{"name":"endDateTime","in":"query","description":"Период лечения по","required":true,"schema":{"type":"string","example":null}},{"name":"packageNumber","in":"query","description":"Номер пакета","required":false,"schema":{"type":"string","example":null,"default":"1653467836"}}],"responses":{"400":{"description":"Ошибка валидации параметров","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}},"200":{"description":"СЭФД успешно сформирован","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpSmpEntity"}},"example":null}}},"404":{"description":"МО с указанным id не найдено","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/smp/":{"post":{"tags":["ФПУМП Карта вызова СМП"],"summary":"Получение списка ФПУМП Карта вызова СМП","operationId":"getAll_19","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":1}},{"name":"count","in":"query","description":"Размер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":10}},{"name":"sort","in":"query","description":"Параметры сортировки","required":false,"schema":{"type":"array","example":null,"items":{"type":"string","example":null}},"example":"smpDate,asc"}],"requestBody":{"description":"Параметры поиска","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDto"},"examples":{"FilterRequestExample":{"description":"FilterRequestExample","value":{"filter":{"filterFrom":{"condition":"bt","value":"2025-05-01"},"filterTo":{"condition":"bt","value":"2025-08-31"},"searchFieldName":{"condition":"bt","value":"smpDate"}}}}},"example":null}}},"responses":{"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpSmpDto"}},"example":null}}},"400":{"description":"Ошибка валидации параметров пагинации","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/shrm":{"post":{"tags":["ФПУМП Шкала ШРМ"],"summary":"Получение списка Шкала ШРМ","operationId":"getAll_20","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidStatcardDep","in":"query","description":"Id статистической карты стационара: отделения","required":false,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidAmbTalon","in":"query","description":"Id талона амбулаторного пациента","required":false,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpShrmEntity"},"example":null}}},"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpShrmEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/semd":{"post":{"tags":["ФПУМП Идентификатор СЭМД"],"summary":"Получение списка <ФПУМП Идентификатор СЭМД>","operationId":"getAll_21","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":1}},{"name":"count","in":"query","description":"Размер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":10}},{"name":"sort","in":"query","description":"Параметры сортировки","required":false,"schema":{"type":"array","example":null,"items":{"type":"string","example":null}},"example":"id,asc"}],"responses":{"401":{"description":"Для доступа к этому ресурсу требуется полная аутентификация.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpSemdEntity"},"example":null}}},"404":{"description":"Информация не найдена (не пройдена валидация)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpSemdEntity"},"example":null}}},"400":{"description":"Не пройдена валидация","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpSemdEntity"},"example":null}}},"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpSemdEntity"}},"example":null}}},"403":{"description":"Доступ запрещен","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpSemdEntity"},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/search":{"post":{"tags":["ФПУМП Счет-реестр"],"summary":"Получение списка записей ФПУМП. Постраничный поиск СЭФД","operationId":"fpumpSearch","parameters":[{"name":"organization","in":"path","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"page","in":"query","description":"Номер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":1}},{"name":"count","in":"query","description":"Размер страницы","required":false,"schema":{"type":"integer","format":"int32","example":null,"default":20}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PmdSearchCommand"},"example":null}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","example":null},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/rivermidIndicator":{"post":{"tags":["ФПУМП Шкала реабилитации: Индексы Ривермид"],"summary":"Получение списка Шкала реабилитации: Индексы Ривермид","operationId":"getAll_22","parameters":[{"name":"pid","in":"query","description":"Id отделения статкарты: Шкала реабилитации","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpRivermidIndicatorEntity"},"example":null}}},"200":{"description":"Список успешно получен","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpRivermidIndicatorEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/researchCopy":{"post":{"tags":["ФПУМП Консилиум: Копии исследований"],"summary":"Получение списка Консилиум: Копии исследований","operationId":"getAll_23","parameters":[{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"pidCouncil","in":"query","description":"Id консилиума","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpResearchCopyEntity"},"example":null}}},"200":{"description":"Данные успешно получены","content":{"*/*":{"schema":{"type":"array","example":null,"items":{"$ref":"#/components/schemas/FpumpKsgDataCritEntity"}},"example":null}}}},"security":[{"Bearer":[]}]}},"/api/{organization}/fpump/rehab":{"post":{"tags":["ФПУМП Отделение статкарты: Шкала реабилитации"],"summary":"Получение списка отделений статкарт","operationId":"getAll_24","parameters":[{"name":"pid","in":"query","description":"Id статистической карты стационара: отделения","required":true,"schema":{"type":"integer","format":"int64","example":null}},{"name":"organization","in":"path","description":"Id текущего МО","required":true,"schema":{"type":"integer","format":"int64","example":null}}],"responses":{"404":{"description":"Данные не найдены","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultResponseConvertedDtoFpumpRehabEntity"},"example":null}}},"200":{"description":"Список Отделения статкарты: Шкала реабилитации успешно получен",
[...]
